---
import BaseLayout from "@/layouts/BaseLayout.astro";
import PageHeader from "@/components/PageHeader.astro";
import { getEntry } from "astro:content";

const page = await getEntry("pages", "about");
if (!page) throw new Error("About page not found");
const { Content } = await page.render();
---

<BaseLayout {...(page.data.title && { title: page.data.title })}>
  <PageHeader title={page.data.title!} {...(page.data.subtitle && { subtitle: page.data.subtitle })} {...(page.data.headerImage && { image: page.data.headerImage })} />
  <div class="prose mx-auto px-4">
    <Content />
  </div>
</BaseLayout>
