@import url('https://fonts.googleapis.com/css?family=Fira+Sans:700|Montserrat');
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

// 2. Set your own initial variables
// Update blue
$blue: #00b1e2;
// Add pink and its invert
$pink: #ffb3b3;
$pink-invert: #fff;
// Add a serif family
$family-sans: "Montserrat", "Helvetica Neue", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $blue;
$primary-invert: $pink-invert;
// Use the existing orange as the danger color
$danger: $orange;
// Use the new serif family
$family-primary: $family-sans;

// 4. Setup your Custom Colors
$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);

// 5. Add new color variables to the color map.
@import "~bulma/sass/utilities/derived-variables";
$addColors: (
  "twitter":($twitter, $twitter-invert),
  "linkedin": ($linkedin, $linkedin-invert),
  "github": ($github, $github-invert)
);
$colors: map-merge($colors, $addColors);

// 6. Import the rest of Bulma
@import "~bulma";
@import "./carousel.scss";

.container {
  max-width: 900px;
}

.navbar-link {
  color: $blue;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Fira Sans", "Helvetica Neue", sans-serif;
}

.navbar-brand {
  font-family: "Fira Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: 700;
}