@import url('https://fonts.googleapis.com/css?family=Hind:700|Montserrat');
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

// 2. Set your own initial variables
// Update blue
$blue: #00b1e2;
// Add pink and its invert
$pink: #ffb3b3;
$pink-invert: #fff;
// Add a serif family
$family-sans: "Montserrat", "Helvetica Neue", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $blue;
$primary-invert: $pink-invert;
// Use the existing orange as the danger color
$danger: $orange;
// Use the new serif family
$family-primary: $family-sans;

// 4. Setup your Custom Colors
$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);

// 5. Add new color variables to the color map.
@import "~bulma/sass/utilities/derived-variables";
$addColors: (
  "twitter":($twitter, $twitter-invert),
  "linkedin": ($linkedin, $linkedin-invert),
  "github": ($github, $github-invert)
);
$colors: map-merge($colors, $addColors);

// 6. Import the rest of Bulma
@import "~bulma";
@import "./carousel.sass";
@import "./helpers.scss";

.container {
  max-width: 1100px;
}

.navbar {
  min-height: 5rem;
}

.navbar-link {
  color: $blue;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Hind", "Helvetica Neue", sans-serif;
}

.navbar-brand {
  font-family: "Hind", "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

a {
  &:hover {
    color: $black;
    transition: all 0.3s ease-in-out;
  }
}

.card-equal-height {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.card-equal-height .card-footer {
  margin-top: auto;
}

.card {
  &.is-horizontal {
    @include tablet {
      flex-direction: row;
      display: flex;
      flex-basis: 50ex;
      flex-grow: 0;
      flex-shrink: 1;
      .card-image {
        flex: 2;
        flex-shrink: 2;
        
        .image {
          display: block;
          position: relative;
          overflow: hidden;
          height: 100%;
          width: 100%;
          img {
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
      }
      .card-content {
        flex: 3;
        flex-shrink: 3;
      }
    }
  }
}
